<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCDA Dashboard {% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
     <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    -->
    <!-- Tailwindcss -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body class="bg-gray-100 text-gray-900">
    <!-- Header -->
    <header class="sticky top-0 bg-gray-800 text-white py-4 px-6">

        {% block header %}
        <div class="text-center">
            <h2><a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">MCDA Dashboard</a></h2>
        </div>
        {% endblock %} 
    </header>
    <!-- Main Content -->
    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="flex h-screen overflow-hidden">

        <aside class="w-1/4 bg-gray-700 text-white p-4 overflow-y-auto">
            sidebar start
            {% include "sidebar.html" %}
            sidebar end
        </aside>

        <!-- Main Section -->
        <main class="w-3/4 p-6 overflow-auto">
            {% block content %}

            {% endblock %}
        </main>
        </div>
    </div>

    <footer class="bg-gray-800 text-white py-4 text-center">
        {% block footer %}
        <p>&copy; 2025 MCDA Dashboard</p>
        {% endblock %}
    </footer>


    <script src="{{ url_for('static', filename='js/sorting.js') }}"></script>
</body>
</html>
