<nav class="vh-100 p-3">
    {% for section in sidebar_links %}
    <h4>{{ section.title }}</h4>
    <ul class="nav flex-column">
        {% for link in section.links %}
            <li class="nav-item mb-2">
                <a class="nav-link text-white {% if current_path == link.url %}active{% endif %}" href="{{ link.url }}">
                    {{ link.name }}
                </a>
                {% if link.sub_links %}
                    <ul>
                        {% for sub_link in link.sub_links %}
                            <li class="nav-item mb-2">
                                <a class="nav-link text-white {% if current_path == sub_link.url %}active{% endif %}" href="{{ sub_link.url }}">
                                    {{ sub_link.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
    </nav>